@charset "UTF-8";
* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	 background: #007991; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #007991, #78ffd6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #007991, #78ffd6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




   
}
.h2{
	  text-decoration: overline;
}
#start{
	margin: 40px auto;
	background-color:white;
	max-width: 1040px;
	
}
/* Header/logo Title */
.header {
    padding: 20px;
    text-align: center;
   
    color:white;
    background-image: url("vetrina.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    
  
}

#logo{
	float:left;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
    text-align:center;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */

/* Style the navigation bar links */



/* Right-aligned link */


/* Change color on hover */

/* Active/current link */


/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}


.topnav {
  overflow: hidden;
  background-color: #3465a4;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #2e3436;
  color: white;
}

.topnav .icon {
  display: none;
}


  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }




/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 80px;
}




.container_contatti{
	
	display:inline-block;
	max-width:400px;
}
.cont{
	
	margin:30px;
	padding: 50px;
	font-size:20px;
	text-align:justify;
	color:white;
	background-color:#3465a4;
	width:90%;
	
	
	
	
	
}
.desc{

	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	color: #2e3436;
	
	letter-spacing: .10em;
	
}

.txt1{
	font-size:20px;
	text-align:center;
	color:white;
}

h5 {
	font-size:20px;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	color: #656565;
	text-transform: uppercase;
	letter-spacing: .15em;
}
#b1 {
	color:red;
}
/* Fake image, just for this example */
.side2{
	width:33.3%;
	margin-right: 3%;
	margin:0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
	vertical-align: baseline;
	float:right;
	border: thin solid black;
	text-align:justify;
}
.side2 h5{
	color:red;
	font-size:100%;
	text-align:center
	
}
	
}
.container_fascia{

	text-align:center;
	width:100%;
	
	padding:60px 0;
	
	
}
.fascia{
	margin-top:50px;
	float:left;
	text-align:center;
	margin-left:50px;
	font-size:20px;
	margin-bottom:50px;
	
	
}
.fascia img{
	margin-top: 5px;
	
}

.rowproduct{

	width:100%;
	
	padding:60px 0;
	

}

.colproduct{

	float:left;
	text-align:center;
	margin-left:5%;
	font-size:20px;
	margin-bottom:50px;
	max-width:300px;
	
}
aside{
	
	
	float:right;
	border:1px solid;
	overflow:scroll;
	max-width:450px;
}

aside a{
	text-align:center;
	color:green;
	text-decoration:none;
	font-size:20px;
	width:5px;
	
}
/*.image{
	
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

hover .image{
	opacity: 0.3;
}
*/

iframe{
	width:100%;
}
.rowteam{
	
	
}

.colteam{
	
	
	
}
/* Footer */
footer{
	
    text-align: center;
    background: #2e3436;
    width:100%;
    padding:0;
    border:0;
    margin-top:50px;
    
    
}



.row_panel{
	float:left;
	text-align:center;
	width:100%;
	position:relative;
	padding:20px 0;

	
}
.foot_t{
	


	color:white;
	margin-left:100px;
	font-size:15px;
	float:left;
	text-align:center;




	
}
.foot_t2{
	


	color:white;
	margin-right:100px;
	font-size:15px;
	float:right;
	text-align:center;




	
}
.par{
	text-align:center;
}
.bot{

	float:center;

	
}

#barra_social{
	
	font-size: 37px;
	float:center;
	margin: 20px 5% 0;
	display: inline-block;
	
	
	}
#barra_social a{
	color: #204a87;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

